<!DOCTYPE html>
<html ng-app="vantage">
  <head>
    <meta charset="utf-8" />
    <title>Vantage</title>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="services/services.js"></script>
    <script src="tweets/tweets.js"></script>
    <script src="news/news.js"></script>
    <script src="photos/photos.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">

  </head>
  <body>
    <h1>Vantage</h1>
    <div id="container" ng-controller="NewsController">
      <form ng-submit="getNews(request)">
        <div class="row">
          <div class="col-xs-2">
            <input type="text" ng-model="request.event" class="form-control" placeholder="event">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control" ng-model="request.state" placeholder="state">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control" ng-model="request.city" placeholder="city">
          </div>
          <div class="col-xs-2">
            <input type="text" class="form-control" ng-model="request.street" placeholder="street">
          </div>
        </div>

        <button>OK</button>
      </form>

      <ul ng-repeat="news in data">
        <li>
          {{news.time}} - <a href="{{news.link}}" target="_blank">{{news.title}}</a>
        </li>
      </ul>
    </div>





  </body>
</html>
