html {
/*  background: url(pics/bg/chicago.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

body {
  background: rgba(0, 0, 0, 0);
  color: rgb(187, 187, 187);
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  color: #53B0DB;
}

a:hover {
  color: rgb(169, 161, 1);
  text-decoration: none;
}

.dashboard_header {
  margin-bottom: 10px;
}

.logo {
  font-family: 'Special Elite', cursive;
  font-size: 2em;
  width: 20vw;
  color: white;
  border: 2px white solid;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  display: table;
  height: 50px;
  font-weight: 700;
}

.logo:hover {
  font-size: 2.05em;
  color: white;
}

.boxed {
  margin: 30px;
}

.city {
  font-size: 4.5em;
  font-family: 'Oswald', sans-serif;
  color: white;
  margin-left: 30px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.block {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.news {
  padding: 5px;
}

.news_block {
  margin-bottom: 30px;
}

.news_text {
  font-size: 1.1em;
}

.photo {
  padding: 6px;
  height: 145px;
  width: 145px;
  margin: 11px;
}

.photo_grid {
  margin: 0 auto;
}

.twitter_block {
  margin-left: 40px;
}

.tweet_image {
  width: 30px;
  height: 30px;
}

.tweet {
  padding: 5px 0px 10px 0px;
  border-bottom: 1px solid rgb(45, 45, 45);
}

.topics_block {
  background: rgba(0, 0, 0, 0.85);
  margin-bottom: 30px;
  text-align: center;
  color: rgb(132, 132, 132);
}

.topics_block li:not(:last-child){
  border-right: 1px solid #3A3A3A;
}

.topics_block li {
  font-size: 1.2em;
  padding: 0 15px;
  display: inline;
}

.topics_block li:hover {
  color: rgb(169, 161, 1);
}

.active {
  color: white;
}

.active:hover {
  color: white;
}