html {
  background: url(pics/bg/chicago.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  background: rgba(0, 0, 0, 0);
}

.dashboard_header {
  margin-bottom: 30px;
}

.boxed {
  margin: 30px;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #53B0DB;
}

a:hover {
  color: rgb(169, 161, 1);
  text-decoration: none;
}

.city {
  font-size: 4.5em;
  font-family: 'Oswald', sans-serif;
  color: #5BC0DE;
  margin-left: 30px;
}

ul {
  list-style-type: none;
}


.news {
  padding: 5px;
}

.news_time {
  color: rgb(187, 187, 187);
}

.news_block {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-bottom: 30px;
}

.photo {
  padding: 6px;
  height: 145px;
  width: 145px;
  margin: 11px;
}

.photos {
  margin: 0 auto;
}

.photo_block {
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
}

.twitter_block{
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  margin-left: 40px;
}

.logo {
  padding: 0.4em;
  font-size: 2em;
  width: 20vw;
  height: 50px;
  color: white;
  border: 2px white solid;
  border-radius: 5px;
  text-align: center;
  line-height: 50px;
  margin: 0px;
  font-family: 'Special Elite', cursive;
}

.logo:hover {
  font-size: 2.05em;
  color: white;
}

.tweet{
  padding: 5px 0px 10px 0px;
  border-bottom: 1px solid rgb(45, 45, 45);
}

.tweet_text {
  color: rgb(187, 187, 187);
}

.tweet_text:hover{
  color: rgb(169, 161, 1);
  text-decoration: none;
}

.tweet_image {
  width: 30px;
  height: 30px;
}