<div class="boxed" id="container" ng-controller="DashboardController">

  <div class="row dashboard_header">
    <div class="col-xs-4">
      <a class="logo" href="/">Vantage View</a>
    </div>
    <div class="col-xs-offset-3 col-xs-5">
      <span class="city">{{data.currentCity.city}}</span>
    </div>
  </div>

  <div class="row">
    <ng-include src="'views/topics/topics.html'"></ng-include>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <ng-include ng-show="data.news.length" src="'views/news/news.html'"></ng-include>
      <ng-include ng-show="data.photos.length" src="'views/photos/photos.html'"></ng-include>
    </div>
    <div class="col-xs-4">
      <ng-include ng-show="data.tweets.length" src="'views/tweets/tweets.html'"></ng-include>
    </div>
  </div>

</div>
