<div class="boxed">
  <div class="row dashboard_header">
    <div class="col-xs-4">
      <a class="logo" href="/">Vantage View</a>
    </div>
    <div class="col-xs-offset-4 col-xs-4">
      <span class="city">San Francisco</span>
    </div>
  </div>
  <div class="row">
    <div id="container" ng-controller="DashboardController" >
      <ng-include src="'views/news/news.html'"></ng-include>
      <ng-include src="'views/photos/photos.html'"></ng-include>
      <ng-include src="'views/tweets/tweets.html'"></ng-include>
    </div>
  </div>
</div>
